.todo__tabs {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 180px;
  margin-bottom: 35px;
  &::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid gray;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
  }
}

.todo__tab {
  cursor: pointer;
}

.active {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #2f80ed;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    border-radius: 4px 4px 0px 0px;
  }
}
